

h1 { color: #FFFFFF;
	 background:#2A3F2E;
	 border-width: 4px;
	 border-style: solid;
	 border-color: #CD8135;
	 text-align: center; }

img { margin-left: 8px;
	  padding: 4px; }
	  
.img { float: right;
	  margin-right: 8px; }
	  
.nav ul li { display:inline; }

.nav a { text-decoration: none;
		 font-weight: bold;
		 color: white;
		 padding: 8px;
		 background-color: #2E2C2C;
		 border: 0px blue solid;
		 border-radius: 16px; }

.nav ul { padding: 0px; }

.wrapper {margin-left: auto;
		  margin-right: auto;
		  width: 800px;
		  padding: 16px;
		  border: 1px black solid;
		  background: #7F7F7F; } 
		 

